*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(85, 67, 90);
}

.cardRepo{
  width: 300px;
  height:200px ;
  border-radius: 6px;
  margin-top: 100px;
  background-color: #718362;
  margin: 15px;
  overflow: hidden;
  transition: all .5s;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  margin: 30px;
}
.cards  .cardRepo{
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
   padding: 20px 30px;
   padding-top: 0;

}
.cards span{
  font-family: sans-serif;
  padding: 5px;
  color: rgb(253, 254, 255);
  font-size: 15px;
  
}
.cardRepo:hover{
  background-color: rgba(232, 224, 214, 0.724);
}