.form, .tarefas {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    width: 40%;
}

.form-button {
    width: 100%;
    margin-top: 25px;
}