body{
        background: #a2ad91;
        color: #e8d9d9;
        margin: 0;
        font-family: arial,Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

.form-button button{
    width: 50px;
    padding: 5px 10px;
    font-size: 15px;
    padding-bottom: 5px;
    position: absolute;
    top: 150px;
    right: 45%;
    border-radius: 10px;
    border: 1px solid #c6bfbf;
    background: #d7d6d1;
    color: #5b4b5f;
    cursor: pointer;
    outline: none;
}
.form-button button:hover{
    background-color: #e5dbdb;
    
}
.container {
    margin: 0 auto; /*margem centralizada*/
    width: 100%;
    max-width: 450px;
    margin-top: 50px; /*margem do topo*/
    margin-bottom:100px ; /*margem de baixo*/
    background: #cf8c95;
    padding: 10px;
    border-radius: 12px;
    color: #ffffff;
    border: 3px solid #766f6f;
}
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    width:  170px;
    border-radius: 10px;
    border: 1px solid #c6bfbf;
    outline: none;
    padding: 10px 30px;

}
.tarefas h1{
    color: #282929;
}

.btnAcao{
    width: 50px;
    padding: 2px;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #c6bfbf;
    background: #d7d6d1;
    color: #638281;
    cursor: pointer;
    outline: none;
    float: right;
    top: 0;
    right: 10%;
    border-top: 30px;

/*width: 35px;
    padding: 4px;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #c6bfbf;
    background: #d7d6d1;
    color: #5b4b5f;
    cursor: pointer;
    outline: none;
    justify-content: flex-end;*/
}

.btnAcao:hover{
    background-color: #a9a6a6;

}