*{
  margin: 0;
  padding: 0;
}
.cardWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card{
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

  margin: 16px 8px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}